<?xml version="1.0" encoding="utf-8"?>

<packages>
  <package id="MSTest.TestAdapter" version="2.2.7" targetFramework="net48" />
  <package id="MSTest.TestFramework" version="2.2.7" targetFramework="net48" />
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="student_learning_outcomes_management.Properties.Settings.dbStudentLearningOutcomesManagementConnectionString" connectionString="Data Source=DUCDUY\SQLEXPRESS;Initial Catalog=dbStudentLearningOutcomesManagement;Integrated Security=True" providerName="System.Data.SqlClient" />
    
    <add name="dbStudentLearningOutcomesManagementEntities" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DUCDUY\SQLEXPRESS;initial catalog=dbStudentLearningOutcomesManagement;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</packages>